@import "tailwindcss";
@import "tw-animate-css";
@import "uniwind";

@theme {
  --color-foreground: #1c1c1e;
  --color-brand: #ff3d00;
  --color-light-gray: #7e7f7c;
  --color-mid-gray: #4a4a4a;
  --color-background: #f7fff7;

  --font-grotesk: "SpaceGrotesk-Regular";
  --font-grotest-bold: "SpaceGrotesk-Bold";
  --font-grotest-medium: "SpaceGrotesk-Medium";
}
